{% extends "finance_app/base.html" %}
{% load poll_extras %}
{% block content %}




<h4>Top 5 most expensive food for July</h4>
<table>
    <thead>
      <tr>
         <th>
             title
         </th>
          <th>
             total
         </th>
      </tr>
    </thead>
    <tbody>
      {% for bd in body_big_price  %}
       <tr>
        {% for h in headers_big_price  %}
         {% with h as key %}
         <td>{{ bd|get_dict_item:key }}</td>
         {% endwith %}
        {% endfor %}
       </tr>
      {% endfor %}
    </tbody>
</table>




<h4>All stuff for July</h4>

<table>
    <thead>
      <tr>
         <th>
             title
             <a href="{% url 'sstuff_title_asc' %}">↑</a>
             <a href="{% url 'sstuff_title_desc' %}">↓</a>
         </th>
          <th>
             price
              <a href="{% url 'sstuff_price_asc' %}">↑</a>
              <a href="{% url 'sstuff_price_desc' %}">↓</a>
         </th>
          <th>
             date
              <a href="{% url 'sstuff_date_asc' %}">↑</a>
              <a href="{% url 'sstuff_date_desc' %}">↓</a>
         </th>
          <th>
             month
         </th>
      </tr>
    </thead>
    <tbody>
      {% for bd in body  %}
       <tr>
        {% for h in headers  %}
         {% with h as key %}
         <td>{{ bd|get_dict_item:key }}</td>
         {% endwith %}
        {% endfor %}
       </tr>
      {% endfor %}
    </tbody>
</table>

<p>
    <input
        value="Add a new sstuff"
        type="button"
        onclick="location.href='new_ffood'"/>
</p>
{% endblock %}