{% extends "finance_app/base.html" %}
{% load poll_extras %}
{% block content %}
<a href="{% url 'items_list'%}">all</a> | <a href="{% url 'items_list_group_title'%}">group by title</a>|
<a href="{% url 'items_list_group_date_total_asc'%}">group by date</a>
<table>
    <thead>
      <tr>
         <th>
             amount
             <a href="{% url 'items_list_group_date_amount_asc' %}">↑</a>
             <a href="{% url 'items_list_group_date_amount_desc' %}">↓</a>
         </th>
          <th>q
             total
             <a href="{% url 'items_list_group_date_total_asc' %}">↑</a>
             <a href="{% url 'items_list_group_date_total_desc' %}">↓</a>
         </th>
          <th>
             date
             <a href="{% url 'items_list_group_date_asc' %}">↑</a>
             <a href="{% url 'items_list_group_date_desc' %}">↓</a>
         </th>
      </tr>
    </thead>
    <tbody>
      {% for bd in body  %}
       <tr>
        {% for h in headers  %}
         {% with h as key %}
         <td>{{ bd|get_dict_item:key }}</td>
         {% endwith %}
        {% endfor %}
       </tr>
      {% endfor %}
    </tbody>
</table>
<p>
    <input
        value="Add a new item"
        type="button"
        onclick="location.href='new_item'"/>
</p>
{% endblock %}