{% extends "finance_app/base.html" %}
{% load poll_extras %}
{% block content %}

<table>
    <thead>
        <tr>
            {% for th in headers%}
            <th>{{ th }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for bd in rests %}
        <tr>
            {% for h in headers %}
             {% with h as key %}
             <td>{{ bd|get_dict_item:key }}</td>
             {% endwith %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<p>
    <input
        value="Add a new rest"
        type="button"
        onclick="location.href='new_rest'"/>
</p>
{% endblock %}