{% extends "finance_app/base.html" %}
{% load poll_extras %}
{% block content %}
<p>
    <input
        value="Add a new category"
        type="button"
        onclick="location.href='new_category'"/>
</p>
<table>
    <thead>
      <tr>
        <th>
          id
          <a href=""></a>
          <a href=""></a>
      </th>
         <th>
             name
             <a href=""></a>
             <a href=""></a>
         </th>
          <th>
             description
             <a href=""></a>
             <a href=""></a>
      </tr>
    </thead>
    <tbody>
      {% for bd in body  %}
       <tr>
        <td><a href="/categories/{{ bd.id }}">{{ bd.id }}</a></td>
        <td>{{bd.name}}</td>
        <td>{{bd.description}}</td>
       </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}