{% extends "finance_app/base.html" %}
{% block content %}
<p>
    <input
        value="Add a new spent"
        type="button"
        onclick="location.href='new_spent'"/>
      
      
</p>
<p>
  <a href="/categories/new_category">Add a new category</a>
</p>
<p>
  Total: {{total_spent.total}} ₽ 
</p>
<p>
  Spents by category:
  <table>
    <thead>
      <tr>
        <th>
          category
        </th>
        <th>
          total sum
        </th>
      </tr>
    </thead>
    <tbody>
      {% for i in category_spent  %}
       <tr>
        <td>{{i.name}}</td>
        <td>{{i.price}}₽</td>
       </tr>
      {% endfor %}

    </tbody>
  </table>
</p>
<p>
  All spents:
<table>
    <thead>
      <tr>
        <th>
            id
            <a href=""></a>
            <a href=""></a>
        </th>
         <th>
             name
             <a href=""></a>
             <a href=""></a>
         </th>
          <th>
             price
             <a href=""></a>
             <a href=""></a>
          </th>
          <th>
            description
            <a href=""></a>
            <a href=""></a>
         </th>
         <th>
            category
            <a href=""></a>
            <a href=""></a>
         </th>
         <th>
          create time
          <a href=""></a>
          <a href=""></a>
       </th>
       <th>
        last modified
        <a href=""></a>
        <a href=""></a>
     </th>
      </tr>
    </thead>
    <tbody>
      {% for bd in body  %}
       <tr>
        <td><a href="/spents/{{ bd.id }}">{{ bd.id }}</a></td>
        <td>{{bd.name}}</td>
        <td>{{bd.price}}₽</td>
        <td>{{bd.description}}</td>
        <td>{{bd.category}}</td>
        <td>{{bd.time_create}}</td>
        <td>{{bd.time_update}}</td>
       </tr>
      {% endfor %}
    </tbody>
</table>
</p>
{% endblock %}