{% extends "finance_app/base.html" %}

{% block content %}

<div>
    <input
        value="January"
        type="button"
        onclick="location.href='sstuff_list'"/>
</div>

<div>
    <input
        value="February"
        type="button"
        onclick="location.href='sstuff_list'"/>
</div>

<div>
    <input
        value="March"
        type="button"
        onclick="location.href='sstuff_list'"/>
</div>

<div>
    <input
        value="April"
        type="button"
        onclick="location.href='sstuff_list'"/>
</div>

<div>
    <input
        value="May"
        type="button"
        onclick="location.href='sstuff_list'"/>
</div>

<div>
    <input
        value="June"
        type="button"
        onclick="location.href='sstuff_list'"/>
</div>

<div>
    <input
        value="July"
        type="button"
        onclick="location.href='sstuff_list'"/>
</div>

<div>
    <input
        value="August"
        type="button"
        onclick="location.href='stuff_list'"/>
</div>

<div>
    <input
        value="September"
        type="button"
        onclick="location.href='sstuff_list'"/>
</div>

<div>
    <input
        value="October"
        type="button"
        onclick="location.href='sstuff_list'"/>
</div>

<div>
    <input
        value="November"
        type="button"
        onclick="location.href='sstuff_list'"/>
</div>

<div>
    <input
        value="December"
        type="button"
        onclick="location.href='sstuff_list'"/>
</div>
{% endblock %}